<div class="text-center">
    <div class="form-inline justify-content-center mt-2"  *ngIf="editableName">
      <div class="form-group mb-2 mr-2">
        <input class="form-control " [(ngModel)]="turma.name">
      </div>
    <button class="btn btn-outline-success mb-2" *ngIf="editableName" (click)="enableEditName()">Gravar</button>
    </div>
  <h1 *ngIf="!editableName" (click)="enableEditName()">{{turma.name | uppercase}}</h1>
  <div class="form-inline justify-content-center" *ngIf="editableDesc">
      <div class="form-group mb-2 mr-2">
        <input class="form-control "  [(ngModel)]="turma.description">
      </div>
    <button class="btn btn-outline-success mb-2" *ngIf="editableDesc" (click)="enableEditDesc()">Gravar</button>
    </div>
  <p *ngIf="!editableDesc" (click)="enableEditDesc()"> {{turma.description}}</p>
  <p>Data de inicio: {{turma.beginDate | date}}</p>
</div>
      



